@import './base.css';
@import './animations.scss';


#app {
  margin: 0 auto;
  font-weight: normal;

  isolation: isolate;
}

main {
  padding: 0 1rem;
}

.card__container {
  display: flex;
  justify-content: center;
  align-items: center;
}


a,
.green {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.4s;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

input {
  font-family: inherit;
}

.no-header header {
  display: none !important;
}

::placeholder {
  color: #bbb;
}


.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  appearance: none;
  text-align: center;
  transition: background-color 0.25s;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
  display: block;
  margin: auto;
}

.btn--primary:hover {
  background-color: var(--color-background);
  color: var(--color-primary);
}


.btn.large {
  font-size: 2rem;
}


@for $i from 1 through 9 {
  .bg-light-color-#{$i} {
    background-color: var(--color-#{$i}-light);
  }

  .bg-color-#{$i} {
    background-color: var(--color-#{$i});
  }

  .svg-stroke-#{$i} {
    stroke: var(--color-#{$i});
  }

}
.bg-color-0 {
  background-color: var(--color-9);
}

.bg-light-color-0 {
  background-color: var(--color-9-light);
}

.svg-stroke-0 {
  stroke: var(--color-9);
}
.red-bg {
  background-color: var(--color-1);
}

@media (hover: hover) {
  a:hover {
  }
}

@media (min-width: 1024px) {
  body {
  }

 
}
