@import './base.css';
@import './animations.scss';

#app {
  margin: 0 auto;
  font-weight: normal;

  isolation: isolate;
}

main {
  padding: 0 1rem;
}

.card__container {
  display: flex;
  justify-content: center;
  align-items: center;
}


a,
.green {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.4s;
}

h2 {
  font-weight: bold;
}

input {
  font-family: inherit;
}

.no-header header {
  display: none;
}

@for $i from 1 through 9 {
  .bg-light-color-#{$i} {
    background-color: var(--color-#{$i}-light);
  }

  .bg-color-#{$i} {
    background-color: var(--color-#{$i});
  }

}
.bg-color-0 {
  background-color: var(--color-9);
}

.bg-light-color-0 {
  background-color: var(--color-9-light);
}

.red-bg {
  background-color: var(--color-1);
}

@media (hover: hover) {
  a:hover {
  }
}

@media (min-width: 1024px) {
  body {
  }

 
}
